DB_USER=postgres
DB_PASSWORD=your_password
DB_NAME=pingapp_db
DB_PORT=5432

PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

INTERNAL_API_KEY=123

TELEGRAM_BOT_TOKEN=1234567890:ABCdefGhIJKlmNoPQRsTUVwxyZ_example_token